@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200&family=Roboto+Mono:wght@200&display=swap');
nav{
  z-index: 2;
}
body{
    background-color:#101010;
    margin: 0;
}
header{
   
    border: 3px solid#23232e;
    width: 63.5%;
    height: 11%;
    margin-top: 0;  
    padding-left: 43%;
    background-color:#23232e;
    font-family:'Poppins';
    color: white;
    position: fixed;
    z-index: 1;
}
.mainVideo{
    padding-top: 7%;
    margin-right: 15%;
    margin-left: 18%;
    
}

.ContainerDiv{
    /* border: 2px solid rgb(255, 255, 255); */
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    padding: 5px 0 40px 10px;
    position: relative;
    float: left;
    width: 90%;
    /* overflow: hidden; */
       
}

.description{
    float: right;
    position: absolute;
    padding: 00px 0px 200px 20px;
    font-size: 30px;
}
p{  
    float: right;
    display: inline;
    padding-left: 20px;
    position:absolute;
    padding-top: 30px;
    transition: transform 0.4s ease-in; 
    transition: letter-spacing 0.3s ease-in-out;;
  
}
.creator{
    position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  padding-left: 10px;
  

}
.creatorName{
    padding-left: 20px;
    padding: 10px;
}
h2{
    align-content: center;
}
p:hover {
   
    transform: scale(1.04);
    transform-origin: top left;
    
  }
  p:active{
    letter-spacing: 0.2em;
  }
 p:hover::after {
    content: "Click to enlarge"; /* set tooltip text */
    position: absolute; /* set position to absolute to position the tooltip */
    top: 100%; /* position tooltip below the text */
    left: 50%; /* position tooltip in the center of the text */
    transform: translate(-50%, 10px); /* offset tooltip from center */
   
    color: #34daff; /* set text color */
    padding: 5px; /* set padding */
    border-radius: 5px; /* set border radius */
    font-size: 12px; /* set font size */
    opacity: 0; /* hide tooltip initially */
    transition: opacity 0.3s ease-in-out; /* apply ease-in-out transition to opacity */
  }
  
  p:hover::before {
    content: ""; /* create arrow */
    position: absolute; /* set position to absolute to position the arrow */
    top: 90%; /* position arrow below the tooltip */
    left: 50%; /* position arrow in the center of the tooltip */
    transform: translateX(-50%); /* center arrow */
  }
  
  p:hover::after,
  p:hover::before {
    opacity: 1; /* show tooltip and arrow on hover */
  }
    .video{
      transition: transform 0.4s ease-in-out;
    }

    .video:hover{
      transform: scale(1.05);
      transform-origin: bottom right;
    }
    .video:hover::after{
      transform: scale(1);
      transform-origin: bottom right;
      position: absolute;
   
    }